<div class="card mt-2">
    <div class="card-body">
        <h5><%= link_to "#{post.title}", user_post_path(@user, post.id), class: 'user-link' %></h5>

        <% if current_user == @user && can?(:delete, Post) %>
        <%= link_to 'Delete(User)', user_post_path(current_user.id, post.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this post?"  %>
        <% elsif current_user.admin? %>
        <%= link_to 'Delete(Admin)', user_posts_path(@user), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this post?"  %>
        <% end %>

        <p class="card-text"><%= post.text.slice(0,150).concat('...') %></p>
        <%= render 'shared/like_form', like: @like, post: post %>
        <p class="card-text text-end">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
</div> 