<div class="col-lg-12 mb-5">
   <%= render 'shared/show_user', user: @user %>
    <div class="mb-2 mt-2">
        <% if can? :create, @post%>
        <%= link_to "Create New Post", new_user_post_path(current_user.id), class: 'btn btn-primary' %>
        <% end %>
        <!-- <% if current_user == @user && can?(:create, Post) %>
        <%= link_to "Create New Post(User)", new_user_post_path(current_user.id), class: 'btn btn-primary' %>
        <% elsif current_user.admin? %>
        <%= link_to "Create New Post(Admin)", new_user_post_path(current_user.id), class: 'btn btn-primary' %>
        <% end %> -->
    </div>
   <% @user.posts.includes(:comments).order(created_at: :asc).each do |post| %>
        <%= render 'shared/post', post: post %>
        <%= render 'shared/comment', post: post %>
        <%= link_to 'Add Comment', new_user_post_comment_path(user_id: current_user.id, post_id: post.id) ,class: " mt-1 col-lg-2 btn btn-primary btn-outline-warning border-primary" %>
    <% end %>
    <div class="text-center mt-2">
        <button class="btn btn-primary">Pagination</button>
    </div>
    
    
</div>

